/* -------------------Import Tailwind Css----------------- */
@import "tailwindcss";
/* ---------------------Import Daisy Ui ------------------ */
@plugin "daisyui";

/* -------------------Custom Theme----------------- */
@theme {
       /* ----------------Fonts--------------- */
       --font-Rajdhani: "Rajdhani", sans-serif;
       --font-Rubik: "Rubik", sans-serif;
       /* ----------------Colors-------------- */
       --color-red: #FF0003;
       --color-light-red: #FF494A;
       --color-pink-red: #FF014F;
       --color-rose-red: #FF494A29;
       --color-dark-blue: #1F242E;
       --color-blue: #007AFF;
       --color-green: #48A133;
       --color-black: #000000;
       --color-soft-black: #FFFFFD0F;
       --color-light-black: #ffffff14;
       --color-nero: #060606;
       --color-dark-gray-1: #0F0F0F;
       --color-dark-gray-2: #141414;
       --color-dark-gray-3: #151515;
       --color-gray: #9F9F9F;
       --color-light-gray: #C2C2C2;
       --color-lighter-gray: #E3E3E3;
       --color-white: #FFFFFF;
}

/* -------------------Utility Classes----------------- */
.section {
       @apply px-5 md:px-10 lg:px-20 lg:max-w-screen-2xl mx-auto
}

.sectionPadding {
       @apply py-10 md:py-14 lg:py-16
}

.sectionPaddingBottom {
       @apply pb-10 md:pb-14 lg:pb-16
}

/* ---------------------Text Stroke------------------- */
.text-stroke {
       -webkit-text-stroke: 1px white;
}

/* ------------------Hide ScrollBar------------------- */
html,
body,
#root {
       -ms-overflow-style: none;
       scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
       display: none;
}

/* Optional stronger fallback if some rule overrides it */
*::-webkit-scrollbar {
       width: 0 !important;
       height: 0 !important;
}

* {
       -ms-overflow-style: none !important;
       scrollbar-width: none !important;
}